<script>
    (function(window,document,tag,id){return window[id]||(window[id]=1)&&(function(s){
            var element=document.createElement(tag);
            s=document.getElementsByTagName(tag)[0];
            element.async=1;
            element.src='//www.browserfeatures.io/script/embed.js';
            s.parentNode.insertBefore(element,s);
        })();
    })(window,document,'script','__bfEmbed__');
</script>
<a href="//www.browserfeatures.io/iframe-embed.html?feature=border-radius" class="__bfEmbed__">border-radius information</a>